// Ghoul Glint Palette from https://meodai.github.io/poline/
$color-green-glint: #d7edc4;
$color-fiddle-leaf-fig: #a8c276;
$color-ghoul: #61773b;
$color-elite-teal: #10302d;
$color-olympic-blue: #5f93d8;
$color-darkest-forest: #293b1a;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: $color-fiddle-leaf-fig;
  padding: 2em 4em;
  color: $color-elite-teal;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  // TODO: add some textures in the background to simulate garden-like surface.
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/forest-soil.png");
    opacity: 0.25;
    background-repeat: repeat;
    z-index: -1;
  }
}

* {
  box-sizing: border-box;
}

main {
  height: 90vh;
}

#garden {
  // TODO: set a max height and width and make relative.
  // width: 1400px;
  // height: 600px;
}

hgroup,
footer {
  z-index: 10;
  position: absolute;
  backdrop-filter: blur(2.2px);
  text-shadow: 0 0 5px rgba($color-darkest-forest, 0.4);

  p:last-child {
    margin-bottom: 0;
  }
}

footer {
  p {
    margin: 0.25em 0;
  }
}

.htmlPlant {
  position: relative;
}

.plantWrapper {
  position: absolute;

  label {
    position: fixed;
    opacity: 0;
    z-index: 10;
    background: rgba($color-fiddle-leaf-fig, 0.8);
    backdrop-filter: blur(1px);
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    cursor: help;
    label {
      opacity: 1;
      font-size: inherit;
    }
  }
}

/******************
 * PLANT ELEMENTS *
*******************/

// blink text infinite
@keyframes blink {
  0% {
    color: #6f705f;
    opacity: 0;
  }
  10% {
    opacity: 1;
    color: #0e0f06;
  }
}

time {
  font-size: 0.75em;
  animation: blink 2s infinite linear;
  transition: opacity;
  color: #0e0f06;

  // https://codepen.io/dan10gc/post/use-the-random-sass-function-to-create-unique-animations
  // https://www.the215guys.com/learning/nth-child-cicada-principle/
  &:nth-of-type(n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(2n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(3n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(5n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(7n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(11n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(13n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  overflow: hidden;
}

hr {
  // border-color: black;
  margin: 0;
  height: 1px;
}

button {
  padding: 0;
  margin: 0;
}

code {
  background-color: #eee;
  border-radius: 3px;
  padding: 0 3px;
}

var {
  font-weight: bold;
}

samp {
  background: #252525;
  padding: 0 3px;
  vertical-align: middle;
  color: #eb5757;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
