// Ghoul Glint Palette from https://meodai.github.io/poline/
$color-green-glint: #d7edc4;
$color-fiddle-leaf-fig: #a8c276;
$color-ghoul: #61773b;
$color-elite-teal: #10302d;
$color-olympic-blue: #5f93d8;
$color-darkest-forest: #293b1a;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: $color-fiddle-leaf-fig;
  padding: 2em 4em;
  color: $color-elite-teal;
}

* {
  box-sizing: border-box;
}

.htmlPlant {
  position: relative;
}

#garden {
  height: clamp(400px, 80dvh, 1000px);
  width: 100%;
}

.plantWrapper {
  position: absolute;
}

// blink text infinite
@keyframes blink {
  0% {
    color: #6f705f;
    opacity: 0;
  }
  10% {
    opacity: 1;
    color: #0e0f06;
  }
}

time {
  animation: blink 2s infinite linear;
  transition: opacity;
  color: #0e0f06;

  // https://codepen.io/dan10gc/post/use-the-random-sass-function-to-create-unique-animations
  // https://www.the215guys.com/learning/nth-child-cicada-principle/
  &:nth-of-type(n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(2n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(3n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(5n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(7n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(11n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  &:nth-of-type(13n) {
    animation-delay: #{(random(5) / 2) + 1}s;
  }
  overflow: hidden;
}

hr {
  // border-color: black;
  margin: 0;
  height: 1px;
}

button {
  padding: 0;
  margin: 0;
}

code {
  background: #f2f1f1;
  padding: 0.125rem 0.25rem;
}
